
<!DOCTYPE html>
<html>
<head>
	<title>Detail Artist</title>
	<link rel="stylesheet" href="/frontend/src/css/output.css">
</head>

<body class="
h-screen 
flex flex-col 
items-center 
bg-title bg-no-repeat bg-cover bg-fixed
overflow-scroll overflow-y-auto 
 ">

	<div id="topper" class="
	bg-blue-300 bg-opacity-30
	rounded-lg 
	shadow 
	flex 
	w-full
	items-center
	justify-between 
	
	h-auto
	py-2
	">
		<div class="sm:flex sm:items-center sm:justify-between">

			<div class="flex flex-row -space-x-6 opacity-50">
			<img src="/frontend/src/pics/guitar-playergray.png" class="h-8 mr-3" alt="Logo" />
			<img src="/frontend/src/pics/alsacegray.png" class="h-8" alt="Logo" />
			</div>

			<span class="
			text-gray-500 text-2xl
			sm:text-center 
			py-1 font-goldleaf"
			>Team Alsace
			</span>

		</div>

		<a href="/index.html" class="
		text-3xl font-uniser text-white
		py-4 px-2 my-2
		bg-transparent
		rounded
		border border-white 
		">
			Groupie Tracker
		</a>

		<form action="/ReadMe" method="post" >

			<button id="readme2" class="
			text-blue-900
			bg-gradient-to-r from-customlightblue to-customdarkblue
			hover:bg-gradient-to-bl focus:ring-4 focus:outline-none
			focus:ring-blue-100 
			hover:shadow-md  hover:shadow-customlightblue
			text-2xl font-uniser
			rounded-lg
			px-5 py-2.5 
			opacity-80
			text-center mr-2 mb-2"
			>Read Me</button>

		</form>
	</div>

	<div id="wrapper" class="
	flex flex-col h-auto w-auto max-h-max
    rounded
	items-center
	space-y-4
	m-4
	py-2
	bg-customdarkerblue bg-opacity-50
	relative
	">
		<a id="backButton" href="/index.html" class="
		flex flex-row absolute 
		top-0 left-0 
		w-auto h-auto
		bg-gradient-to-t from-custombluepurple to-blue-300 
		hover:bg-gradient-to-bl
		opacity-70
		hover:opacity-100
		shadow-2xl
		hover:shadow-2xl hover:shadow-customdarkerblue
		rounded-lg
		m-2
		items-center
		-space-x-2
		">
			
			<h2 class="
			p-4 
			text-center
			text-5xl text-white
			h-auto w-auto
			font-uniser
			">
				BACK
			</h2>

			<img class="
			shrink-0 
			h-10
			w-12
			rounded-l-lg 
			pb-1 pr-2 
			" src="/frontend/src/pics/retour.png" alt=" back icon">

		</a>

		<img id="pfp" src={{.Artist.Image}} alt="Artist Pfp" class="
		h-auto w-auto max-h-max max-w-max
		rounded
		m-auto
		p-2
		border-2 border-white 
		text-white
		">
		</img>

		<div id="informations" class="
		flex flex-col
		h-auto w-auto
		max-h-max max-w-max
		rounded
		m-auto
		p-4
		bg-transparent
		space-y-4
		">
			<div id="titlenameContainer" class="
			row-span-1
			place-self-center
			p-4 
			flex flex-row
			w-auto max-w-max
			h-max 
			font-landasans text-3xl
			bg-blue-300 bg-opacity-30
			text-white
			rounded
			"
			><h1>{{.Artist.Name}} </h1>
			</div>

			<div id="ID" class="
				grid grid-cols-2
				justify-items-center
				justify-between
				auto-cols-min
				rounded-lg
				bg-blue-300 bg-opacity-20
				p-4
				h-auto max-h-max
				w-auto max-w-max
				
					">

					<div id="Dates" class="
					w-auto max-w-max
					h-max
					flex flex-col
					items-start
					justify-start
					space-y-4
					">
						<div id="CreationDateContainer" class="
						grow shrink-0
						p-4 
						flex flex-col
						w-full
						h-max 
						font-landasans text-4xl
						bg-blue-300 bg-opacity-30
						rounded
						text-white
						space-y-4
						"
						>
							<h2 class="border text-5xl border-white rounded p-2 w-max ">Created in :</h2>
							<h2 class="bg-customlightblue bg-opacity-30 rounded p-2 w-max">{{.Artist.CreationDate}}</h2>
						</div>

						<div id="FirstAlbumContainer" class="
						shrink-0
						p-4 
						flex flex-col
						w-auto max-w-max
						h-max 
						font-landasans text-4xl
						bg-blue-300 bg-opacity-30
						rounded
						text-white
						space-y-4
						"
						>
							<h2 class="border text-5xl border-white rounded p-2 w-max ">First Album :</h2>
							<h2 class="bg-customlightblue bg-opacity-30 rounded p-2 w-max">{{.Artist.FirstAlbum}}</h2>
						</div>

					</div>

					<div id="Members" class="
						p-4 
						flex flex-col
						w-auto max-w-max
						h-max 
						font-landasans text-4xl
						bg-blue-300 bg-opacity-30
						rounded
						text-white
						space-y-2
						"
					>
						<h2 class="border border-white text-5xl rounded p-2 w-max my-2">Members :<br></h2>
						
						{{range $key, $value := .Artist.Members}}

						<h2 class="bg-customlightblue bg-opacity-30 rounded p-2">{{$value}}<br></h2>

						{{end}}
					
					</div>

				</div>

			</div>
			
		
			<div id="sub" class=
			"bg-opacity-50 
			h-auto w-auto max-h-max max-w-max shrink-0
			bg-transparent m-8 ">

				<div id="relationsContainer"
				class="
				p-2
				flex flex-col
				items-center
				h-auto w-auto max-h-max max-w-max
				rounded
				bg-blue-300 bg-opacity-20
				space-y-4
				">
					<div class="
					self-start
					text-5xl font-landasans text-white
					py-4 px-2 my-2
					rounded
					border border-white 
					">
						All Concert worldwide :  
					</div>

					<ul class="grid grid-cols-2
					gap-4
					auto-cols-min
					mb-8 
					rounded-lg
					bg-blue-300 bg-opacity-30
					p-4
						">

						{{range $key, $value := .Relations.DatesLocations}}

						<p id="relation"
						class=" 
						
						w-auto h-auto
						text-white text-4xl
						p-4
						rounded
						font-landasans
						bg-customlightblue bg-opacity-30
						shadow-sm
						"
						>{{$key}}</p>
						
						<p id="relation"
						class=" 
						
						w-auto h-auto
						text-white text-4xl
						p-4
						rounded
						font-landasans
						bg-customlightblue bg-opacity-30
						shadow-sm
						"
						>{{$value}}</p>


						{{end}}

					</ul>

				</div>
			</div>

		</div>

	</div>
</body>